@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:transparent;
}
*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
input::-webkit-input-placeholder{
    line-height: normal;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
body{
    font-family: sans-serif,miui;
    background: #f2f2f2;
    width: 100%;
}
.white-body{
    background: #fff;
}
.e-hide{
    display: none;
}
.fixed-header-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: #fff;
}
.content{
    padding-top: 2.75rem;
}
.content-section{
    padding-top: 2.4rem;
}
.grey-back{
    background: #f2f2f2;
}
/*头部*/
.backColor{
    background: #fff;
}
/*.header-radius{*/
    /*background: #fff;*/
    /*border-top-left-radius: 1rem;*/
    /*border-top-right-radius: 1rem;*/
    /*position: relative;*/
/*}*/
.prev-div{
    height: 2.4rem;
    line-height: 2.4rem;
    border-bottom: 1px solid #f2f2f2;
    padding: 0 .75rem;
}
.prev-div .iconfont{
    font-size: 1.5rem;
    color: #555555;
}
.home-back{
    position: absolute;
    top:0.3rem;
    right: 0;
    color: #555;
    padding-right: .75rem;
}
.home-back i{
    font-size: 1.25rem;
}
.nav-header{
    background: #000;
    text-align: center;
}
.order-select{
    position: absolute;
    top: .6rem;
    left: 50%;
    margin-left: -5rem;
    font-size: .8rem;
    color: #2e2e2e;
    width: 10rem;
    text-align: center;
}
.order-store-name{
    padding-right: .2rem;
}

/*toast*/
.aui-toast {
    z-index: 1002;
    top: 45%;
    left: 50%;
    width: 15em;
    min-height: 6em;
    margin-left: -7.5em;
    margin-top: -4rem;
}
.aui-toast .aui-iconfont {
    margin-top: 0.2rem;
    font-size: 1.5rem;
}
.aui-toast-content {
    margin: 0 0 0.75rem;
}

.aui-list-item-arrow:before {
    border-color: #777;
}

.aui-list .aui-list-item i.iconfont {
    -webkit-align-self: center;
    align-self: center;
}
/*mescroll*/
.mescroll-totop{
    text-align: center;
    background: #ff2600;
    color: #fff;
    line-height: 36px;
    right: .75rem;
    box-shadow: 0 5px 10px #ff2600;
}

.mescroll-totop i{
    font-size: .8rem;
    font-weight: bold;
}
.mescroll-empty .empty-icon{
    display: inline-block!important;
}
/*ios使用sticky样式实现*/
.nav-sticky{
    z-index: 999;/*需设置zIndex,避免在悬停时,可能会被列表数据遮住*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;/*相对mescroll的div悬停的位置*/
}
/*android和pc端悬停*/
.nav-fixed{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/*mescroll 滚动区域*/
.mescroll{
    position: fixed;
    top: 2.4rem;
    bottom: 0;
    height: auto;
}
.aui-list .aui-list-item{
    position: relative;
}

/*vue*/
[v-cloak] {
    display: none;
}