@charset "UTF-8";

.order-list{
    background: transparent;
    border-top: none;
}
.order-list-item{
    padding-left: .75rem;
    padding-right: .75rem;
    background: #fff;
}
.order-list .order-list-text{
    color: #818181;
    font-size: .6rem;
}
.order-popup-top{
    top: 2.25rem;
    opacity: 1;
    display: none;
}
.order-popup-top .aui-popup-content{
    box-shadow: 0 0 2rem #ccc;
    min-height: 4rem;
}
.toggleShow{
    display: block;
}
.order-popup-top .aui-list .aui-list-item-inner{
    font-size: .78rem;
}
.aui-list .order-buy-time{
    font-size: .7rem;
    color: #757575;
}
.aui-list .order-list-header{
    background-color: #fff;
    color: #212121;
    font-size: 0.7rem;
    padding: 0.4rem 0;
    border-bottom: 1px solid #f2f2f2;
}
.order-list .order-list-item-media{
    width: 4rem;
}
.aui-list .item-inner-noPadding{
    padding-right: 0;
}
.order-list .order-list-money{
    font-size: .8rem;
    color: #ff6642;
}

.order-list-item-media img {
    width: 3.5rem;
    height: 3.5rem;
}
.noData{
    display: none;
    padding: 5rem 0;
    font-size: 0.8rem;
    color: #2e2e2e;
    text-align: center;
    background: #fff;
}