@charset "UTF-8";
/*修改的弹窗样式choose.html*/
.aui-dialog-header {
    padding: 1rem .75rem;
}
.aui-dialog-body {
    display: none;
}
.aui-dialog-btn {
    color: #2e2e2e;
}
.aui-dialog-btn:active{
    color: #fc3d3d;
}
/*头部搜索*/
.aui-title{
    display: flex;
    justify-content: space-between;
}
.aui-title .aui-searchbar-input input {
    height: 1.65rem;
    font-size: 0.7rem;
}
.aui-title .aui-searchbar {
    height: 2.4rem;
}
.index-search-title .aui-searchbar {
    background-color: #373b3e;
    color: #fff;
}
.page-search-title .aui-searchbar {
    background-color: #fff;
    color: #818181;
}
.aui-title .aui-searchbar-input {
    margin: 0 0.75rem;
    border-radius: 1rem;
}
.index-search-title .aui-searchbar-input{
    background-color: #5f6265;
}
.page-search-title .aui-searchbar-input{
    background-color: #f7f7f7;
}
.page-search-title .aui-searchbar-input{
    margin: 0 0.5rem;
}
.page-search-title{
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
}
/*头部已点歌曲*/
.songNum-div{
    display: inline-block;
    line-height: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    background: #fc3d3d;
    text-align: center;
    color: #fff;
    margin-right: .75rem;
    border-radius: 100%;
}
.songNum{
    color: #fff;
}

.songNum-div-text{
    font-size: .6rem;
    color: #fff;
}
.prev-div-page{
    padding-left: .75rem;
}
.prev-div-page .iconfont{
    font-size: 1.5rem;
    color: #555555;
    position: relative;
    top: .16rem;
}

/*点歌首页*/

.icon-saomiao{
    padding-right: .75rem;
    font-size: 1rem;
    color: #fff;
    position: relative;
    top: .1rem;
}
.packageBuy{
    height: 2.4rem;
    padding-left: .75rem;
    padding-right: .75rem;
    line-height: 2.4rem;
    position: relative;
}
.packageBuy .index-map{
    width: 1.33rem;
    display: inline-block;
    vertical-align: middle;
}
.packageBuy-text{
    font-size: .8rem;
    color: #212121;
    padding-left: .5rem;
    vertical-align: middle;
}
.packageBuy-a{
    height: 2.4rem;
    line-height: 2.4rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background: #fc3d3d;
    font-size: .8rem;
    color: #fff;
    position: absolute;
    top: 0;
    right: .75rem;
    display: block;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-shadow: 0px 0px .6rem 0px rgba(252,61,61,0.8);
}
.choose-way{
    margin-top: .375rem;
}
.choose-content{
    padding-left: .75rem;
    padding-right: .75rem;
    margin-bottom: 2.25rem;
    margin-top: 1rem;
}
.choose-block-a{
    display: block;
    text-align: center;
    margin-bottom: .5rem;
}
.choose-block-img{
    width: 3.2rem;
    display: inline-block;
}
.new-song-a{
    margin-top: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    display:flex;
    display:-webkit-flex;
    height: 2.6rem;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    font-size: .85rem;
    margin-bottom: 2.5rem;
}
.new-song-a i{
    font-size: 1rem;
}
.choose-footer{
    background: #fff;
    box-shadow: 0px -.2rem .3rem 0px rgba(0,0,0,0.04);
    z-index: 8;
}
.choose-footer .aui-bar-tab-item{
    color: #2e2e2e;
    font-size: .6rem;
}
.choose-footer .aui-bar-tab-item .iconfont{
    font-size: 1rem;
}
.logo-img{
    width: 3rem;
    display: inline-block;
    padding-top: .3rem;
}


/*歌手搜索首页*/
.singer-searchbar{
    background: #fff;
}
.singer-slider-img{
    width: 85%;
    margin: 0 auto;
}
.singer-slider-img img{
    width: 100%;
    border-radius: 5px;
}
.singer-name{
    font-size: .75rem;
    padding: .2rem 0 .3rem;
    color: #212121;
    text-align: center;
}
.singer-slide-a{
    display: block;
}
.singer-list{
    background: transparent;
}
.singer-list .aui-list-item{
    background: #fff;
}
/*歌手列表页*/
.aui-bar-nav .search-singer-title {
    right: 3rem;
    left: 3rem;
}
.search-singer-title .aui-searchbar{
    background: transparent;
}
.search-div{
    margin: 0.125rem 0.5rem;
    height: 1.65rem;
    line-height: 1.65rem;
    font-size: 0.75rem;
}
.singer-searchbar .aui-searchbar-input input {
    height: 1.4rem;
    font-size: 0.75rem;
}
.search-div .aui-bar-nav .aui-iconfont {
    color: #ccc;
    line-height: 2rem;
    padding-right: .5rem;
}
.aui-bar-nav .search-title {
    right: 3rem;
    left: 3rem;
}
.aui-searchbar .search-div .aui-iconfont {
    line-height: 2rem;
}
.search-singer-title .aui-searchbar-btn{
    font-size: .75rem;
    color: #fff;
    width: auto;
    padding-right: 0;
    margin-right: -1.7rem;
    height: 2.25rem;
    line-height: 2.25rem;
}
.search-singer-title .aui-searchbar-clear-btn {
    top: .45rem;
    line-height: 1.1rem;
}
.search-singer-title .aui-searchbar-clear-btn .aui-icon-close{
    line-height: 1.4rem;
}
.singerImg{
    width: 3.5rem;
}
.singerImg img{
    width: 100%;
    border-radius: 5px;
}
/*歌手点歌详情页*/
.singerPage_header{
    position: relative;
}
.singerPage_header .aui-btn .aui-iconfont{
    font-weight: 700;
    color: #fc3d3d;
}
.singerImg{
    width: 100%;
}
.singer-header{
    background: transparent;
}
.singerPage_name{
    font-size: 1.2rem;
    position: absolute;
    bottom: .8rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.choose-btn{
    border: 1px solid #ccc;
    outline: none;
    background: transparent;
    font-size: .8rem;
}
.choose-btn .aui-icon-plus{
    font-weight: bold;
}

.songName{
    font-size: .8rem;
    color: #2e2e2e;
    margin-bottom: .1rem;
}
.songName-span{
    display: inline-block;
    vertical-align: middle;
    max-width: 12rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.songName i{
    display: inline-block;
    vertical-align: middle;
}
.perSingerName{
    font-size: .6rem;
    color: #818181;
}
.song-list-num{
    color: #848484;
}
.song-list{
    width: 100%;
}
.song-list .aui-list-item-inner {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.song-list .song-list-num{
    color: #fc3d3d;
}

.singerPage-search-title{
    height: 2.4rem;
    line-height: 2.4rem;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
}
.singerPage-search-title .songNum-div{
    margin-top: .4rem;
}
.singerPage_mescroll{
    top: 0;
}

/*语言点歌*/
.language-img{
    position: relative;
}
.language-img img{
    width: 100%;
}
.songNum-language{
    position: absolute;
    top: 0;
    right: 0;
}
.song-btn .iconfont{
    font-size: 1.1rem;
    color: #fc3d3d;
}
.song-btn .icon-toTop{
    color: #fc3d3d;
    padding-right: .75rem;
}

/*乐谱点歌*/
.aui-list .aui-list-item i.musicScore-icon{
    font-size: 1.2rem;
    padding-right: .75rem;
    color: #fc3d3d;
    vertical-align: middle;
}
/*搜索页面*/
#tab.aui-tab{
    border-bottom: 1px solid #f2f2f2;
}
.aui-tab-item.aui-active {
    color: #fc3d3d;
    border-bottom: 2px solid #fc3d3d;
}
.searchMescroll{
    top: 4.65rem;
}
.searchMescroll .aui-list{
    background-image: none;
}
/*.aui-list .list-song-info{*/
    /*max-width: 70%;*/
/*}*/
.search-right{
    height: 2.4rem;
    line-height: 2.4rem;
}
.search-right .icon-sousuo-{
    color: #555555;
    font-size: 1.1rem;
    padding-right: .5rem;
    position: relative;
    top: .1rem;
}
.search-right .songNum-div{
    position: relative;
    top: -.1rem;
}
.sang-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.content-sang{
    padding-top: 2.4rem;
}
.select-song-icon{
    font-size: 1.1rem;
}
.red-icon{
    color: #e8413d;
}
.type-song-icon{
    font-size: .65rem;
    color: #ff6262;
}


/*播控*/
.control-content{
    padding: .5rem .75rem;
}
.control-block{
    text-align: center;
}
.control-voice{
    padding-top: .5rem;
}
.control-grid [class*=aui-col-] {
    padding: .5rem 0 0 0;
}
.control-voice .aui-col-xs-10,.control-voice .aui-col-xs-3{
    padding: 0;
}
.control-text{
    font-size: .7rem;
    color: #818181;
    text-align: center;
}
.control-grid [class*=aui-col-xs-]:active,.control-voice [class*=aui-col-xs-]:active{
    background-color: transparent;
}
.circle-block-div{
    position: relative;
}
.minus-icons{
    display: inline-block;
    width: 1.4rem;
    position: absolute;
    left: 1.2rem;
    top: 1.5rem;
}
.plus-icons{
    display: inline-block;
    width: 1.4rem;
    position: absolute;
    right: 1.2rem;
    top: .9rem;
}
.circle-block-mood{
    position: relative;
    text-align: center;
}
.mood-div{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}
.mood-div .iconfont{
    font-size: 1rem;
}
.control-voice-p{
    font-size: .7rem;
    color: #818181;
    text-align: center;
}
.mood-div-p{
    color: #373b3e;
    font-size: .6rem;
}
.icon-img{
    width: 3.2rem;
    display: inline-block;
}
.icon-block{
    width: 7.4rem;
    display: inline-block;
}
.control-voice .aui-col-xs-6{
    padding: .5rem 0;
}
.mood-block{
    width: 13rem;
    display: inline-block;
}
.mood-img1{
    width: 1.2rem;
    display: inline-block;
}
.mood-img2{
    width: 1.5rem;
    display: inline-block;
}
.mood-img3{
    width: 1.65rem;
    display: inline-block;
}
.mood-img4{
    width: 2.3rem;
    display: inline-block;
}
.mood-img{
    margin: 0 .5rem;
}
.control-img:active{
    opacity: 0.8;
}
/*遮罩层*/
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
.mask-content{
    padding: 1rem 0;
}
.mask-content .aui-grid{
    background: transparent;
    color: #fefefe;
}
.instrument-div{
    text-align: center;
}
.instrument-div .iconfont{
    font-size: 2rem;
}
.mask-text{
    font-size: .7rem;
    color: #fefefe;
}
.closeMask{
    text-align: center;
}
.closeMask .iconfont{
    font-size: 3rem;
    color: #fff;
}
.mask-content .aui-grid [class*=aui-col-xs-]:active {
    background-color: transparent;
}
.mask-content .aui-grid [class*=aui-col-xs-]:active .iconfont{
    color: #e8413d;
}
.sound-div{
    font-size: .8rem;
}
.sound-div .iconfont{
    font-size: 1rem;
}
.sound-content{
    padding-top: 3rem;
}
.sound-text{
    padding-left: .4rem;
    text-align: left;
}
#instrument-mask,#soundEffect-mask{
    display: none;
}

