@charset "UTF-8";

/*点歌首页*/
.choose-searchbar{
    background: #fff;
}
.icon-saoma{
    padding-left: .5rem;
    font-size: 1rem;
    color: #ff2600;
}
.packageBuy{
    height: 2.8rem;
    background: #fff;
    padding-left: .75rem;
    line-height: 2.8rem;
    margin-top: .5rem;
    position: relative;
}
.packageBuy .iconfont{
    font-size: 1.3rem;
    color: #ffc107;
    vertical-align: middle;
}
.packageBuy-text{
    font-size: .8rem;
    color: #212121;
    padding-left: .5rem;
    vertical-align: middle;
}
.packageBuy-a{
    height: 2.8rem;
    line-height: 2.8rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background: #ff2600;
    color: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.choose-way{
    margin-top: .5rem;
}
.choose-content{
    margin-bottom: 2.25rem;
}
.choose-block{
    display:flex;
    display:-webkit-flex;
    height: 4.8rem;
    background: #fff;
    justify-content: center;
    align-items: center;
}
.choose-block-icon{
    text-align: center;
}
.choose-block-icon i{
    font-size: 1.3rem;
}
.choose-block-text{
    font-size: .8rem;
}
.new-song-a{
    margin-top: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    display:flex;
    display:-webkit-flex;
    height: 2.6rem;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    font-size: .85rem;
    margin-bottom: 2.5rem;
}
.new-song-a i{
    font-size: 1rem;
}
.choose-footer{
    background: #212121;
}
.choose-footer .aui-bar-tab-item{
    color: #fff;
    font-size: .8rem;
}
.choose-footer .aui-bar-tab-item .iconfont{
    font-size: 1rem;
}
.choose-footer .aui-bar-tab-item.aui-active{
    color: #ffc107;
}

/*播控*/
.control-content{
    color: #2b2b2b;
}
.control-content p{
    color: #2b2b2b;
    font-size: .9rem;
    margin-top: .5rem;
}
.control-block{
    padding: 8rem 0 2rem 0;
}
.aui-icon-block{
    text-align: center;
}
.aui-icon-img{
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
}
.aui-icon-img img{
    width: 100%;
    display: inline-block;
}
.control-btn{
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: .5rem auto;
}
.control-btn i{
    font-size: 1.5rem;
}
.aui-bar-btn-sm .aui-bar-btn-item {
    line-height: 2.4rem;
    font-size: 1.5rem;
}
.aui-bar-btn-item:first-child {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.aui-bar-btn-item {
    border-width: 1px;
    border-color: #ccc;
}
.aui-bar-btn-item:last-child {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}


/*歌手搜索首页*/
.singer-searchbar{
    background: #fff;
}
.singer-slider-img{
    width: 85%;
    margin: 0 auto;
}
.singer-slider-img img{
    width: 100%;
    border-radius: 5px;
}
.singer-name{
    font-size: .75rem;
    padding: .2rem 0 .3rem;
    color: #212121;
    text-align: center;
}
.singer-slide-a{
    display: block;
}
.singer-list{
    background: transparent;
}
.singer-list .aui-list-item{
    background: #fff;
}
/*歌手列表页*/
.aui-bar-nav .search-singer-title {
    right: 3rem;
    left: 3rem;
}
.search-singer-title .aui-searchbar{
    background: transparent;
}
.search-div{
    margin: 0.125rem 0.5rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.75rem;
}
.singer-searchbar .aui-searchbar-input input {
    height: 1.4rem;
    font-size: 0.75rem;
}
.search-div .aui-bar-nav .aui-iconfont {
    color: #ccc;
    line-height: 2rem;
    padding-right: .5rem;
}
.aui-bar-nav .search-title {
    right: 3rem;
    left: 3rem;
}
.aui-searchbar .search-div .aui-iconfont {
    line-height: 2rem;
}
.search-singer-title .aui-searchbar-btn{
    font-size: .75rem;
    color: #fff;
    width: auto;
    padding-right: 0;
    margin-right: -1.7rem;
    height: 2.25rem;
    line-height: 2.25rem;
}
.search-singer-title .aui-searchbar-clear-btn {
    top: .45rem;
    line-height: 1.1rem;
}
.search-singer-title .aui-searchbar-clear-btn .aui-icon-close{
    line-height: 1.4rem;
}
.singerImg{
    width: 3.5rem;
}
.singerImg img{
    width: 100%;
    border-radius: 5px;
}
/*歌手点歌详情页*/
.singerPage_header{
    position: relative;
}
.singerPage_header .aui-btn .aui-iconfont{
    font-weight: 700;
    color: #ff2600;
}
.singerImg{
    width: 100%;
}
.singer-header{
    background: transparent;
}
.singerPage_header_text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 1rem 0;
}
.singerPage_name{
    font-size: .9rem;
}
.singerPage-search-title{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #f3f3f3;
}
.singerPage-search-title .aui-searchbar-input input {
    height: 2rem;
    font-size: 0.85rem;
}
.singerPage-search-title .aui-searchbar {
    background-color: #fff;
    color: #9e9e9e;
    padding: .5rem 0;
    height: 3rem;

}
.aui-searchbar-input {
    margin: 0 0.5rem;
    background-color: #ebeced;
    border-radius: 1rem;
}
.choose-btn{
    border: 1px solid #ccc;
    outline: none;
    background: transparent;
    font-size: .8rem;
}
.choose-btn .aui-icon-plus{
    font-weight: bold;
}
.songName{
    font-size: .85rem;
    color: #000;
    margin-bottom: .3rem;
}
.perSingerName{
    font-size: .7rem;
    color: #9e9e9e;
}
.song-list-num{
    color: #848484;
}
.song-list{
    width: 100%;
}
.song-list .aui-list-item-inner {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.song-list li:nth-child(1) .song-list-num,.song-list li:nth-child(2) .song-list-num,.song-list li:nth-child(3) .song-list-num{
    color: #ff2600;
}
.singerPage-search-title .aui-searchbar .aui-iconfont {
    line-height: 2rem;
    color: #ff2600 !important;
    font-size: .85rem;
    font-weight: bold;
}
/*语言点歌*/
.language-img{
    position: relative;
}
.language-img img{
    width: 100%;
}
.songNum-language{
    position: absolute;
    top: 0;
    right: 0;
}
.song-btn .iconfont{
    font-size: 1.1rem;
    color: #ff2600;
}
.song-btn .icon-toTop{
    padding-right: .75rem;
    color: #efa925;
}
/*乐谱点歌*/
.aui-list .aui-list-item i.musicScore-icon{
    font-size: 1.2rem;
    padding-right: .75rem;
    color: #ff2600;
    vertical-align: middle;
}
.songNum-div{
    display: inline-block;
    line-height: 1;
    padding-right: .75rem;
    padding-top: .5rem;
}
.songNum{
    width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    margin: .08rem 0;
    text-align: center;
    border-radius: 0.7rem;
    background: #fff;
    border: 1px solid #ff2600;
    color: #ff2600;
}
.songNum-div-text{
    font-size: .6rem;
    color: #ff2600;
}

/*mescroll 滚动区域*/
.mescroll{
    position: fixed;
    top: 3rem;
    bottom: 0;
    height: auto;
}
.aui-list .aui-list-item{
    position: relative;
}