
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="css/aui.css" />
    <link rel="stylesheet" type="text/css" href="css/mescroll.min.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_546112_wnep3692i6v18aor.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
<section id="owner-app">
    <!--滑动区域-->
    <div id="mescroll" class="mescroll index-mescroll">
        <div class="backColor">
            <div class="aui-card-list-content-padded">
                <div class="aui-row aui-row-padded">
                    <div class="aui-col-xs-3">
                        <a class="index-div-a" href="box/box.html">
                            <div class="index-div">
                                <img class="index-img" src="img/owner-index/box.png">
                            </div>
                            <div class="index-div-text">包厢状态</div>
                        </a>
                    </div>
                    <div class="aui-col-xs-3">
                        <a class="index-div-a" href="orders/order.html">
                            <div class="index-div">
                                <img class="index-img" src="img/owner-index/order.png">
                            </div>
                            <div class="index-div-text">订单管理</div>
                        </a>
                    </div>
                    <div class="aui-col-xs-3">
                        <a class="index-div-a" href="chargeSet/chargeSet.html">
                            <div class="index-div">
                                <img class="index-img" src="img/owner-index/package.png">
                            </div>
                            <div class="index-div-text">套餐收费</div>
                        </a>
                    </div>
                    <div class="aui-col-xs-3">
                        <a class="index-div-a" href="store/store.html">
                            <div class="index-div">
                                <img class="index-img" src="img/owner-index/store.png">
                            </div>
                            <div class="index-div-text">门店管理</div>
                        </a>
                    </div>
                    <div class="aui-col-xs-3">
                        <a class="index-div-a" href="bills/bill.html">
                            <div class="index-div">
                                <img class="index-img" src="img/owner-index/bill.png">
                            </div>
                            <div class="index-div-text">账单管理</div>
                        </a>
                    </div>
                    <div class="aui-col-xs-3">
                        <a class="index-div-a" href="report/report-line.html">
                            <div class="index-div">
                                <img class="index-img" src="img/owner-index/report.png">
                            </div>
                            <div class="index-div-text">报表统计</div>
                        </a>
                    </div>
                    <div class="aui-col-xs-3">
                        <a class="index-div-a" href="fix/fix.html">
                            <div class="index-div">
                                <img class="index-img" src="img/owner-index/fix.png">
                            </div>
                            <div class="index-div-text">报修申请</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="navWarp">
            <div id="navContent">
                <div id="fixed-top">
                    <div class="aui-content index-info-content">
                        <div class="index-info-div">
                            <i class="iconfont icon-laba"></i><span>消息通知</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="upscrollWarp">
            <ul class="aui-list aui-media-list aui-list-in" id="newsContent" v-cloak>
                <li class="aui-list-item aui-list-item-middle" v-for="item in newslist" v-on:click="openNewsInfo(item.id)">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-label-icon aui-list-item-label-circle">
                            <div class="circle new-circle" v-if="item.type===1">
                                新
                            </div>
                            <div class="circle gray-circle" v-else-if="item.type===2">
                                已
                            </div>
                            <div class="circle yellow-circle" v-else="item.type===0">
                                未
                            </div>
                        </div>
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-text">
                                <div class="aui-list-item-title index-info-title">{{item.newsTitle}}</div>
                                <div class="aui-list-item-right index-info-text">{{item.newsTime}}</div>
                            </div>
                            <div class="aui-ellipsis-1 index-info-text">
                                {{item.newsText}}
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li class="aui-list-item">-->
                <!--<div class="aui-media-list-item-inner">-->
                <!--<div class="aui-list-item-label-icon">-->
                <!--<div class="circle gray-circle">-->
                <!--已-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-inner">-->
                <!--<div class="aui-list-item-text">-->
                <!--<div class="aui-list-item-title index-info-title">维修通知</div>-->
                <!--<div class="aui-list-item-right">2018-01-18</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-text aui-ellipsis-2 index-info-text">-->
                <!--坪洲四季城店设备1正在维修通知-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="aui-list-item">-->
                <!--<div class="aui-media-list-item-inner">-->
                <!--<div class="aui-list-item-label-icon">-->
                <!--<div class="circle yellow-circle">-->
                <!--未-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-inner">-->
                <!--<div class="aui-list-item-text">-->
                <!--<div class="aui-list-item-title index-info-title">维修通知</div>-->
                <!--<div class="aui-list-item-right">2018-01-18</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-text aui-ellipsis-2 index-info-text">-->
                <!--坪洲四季城店设备1正在维修通知-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="aui-list-item">-->
                <!--<div class="aui-media-list-item-inner">-->
                <!--<div class="aui-list-item-label-icon">-->
                <!--<div class="circle yellow-circle">-->
                <!--未-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-inner">-->
                <!--<div class="aui-list-item-text">-->
                <!--<div class="aui-list-item-title index-info-title">维修通知</div>-->
                <!--<div class="aui-list-item-right">2018-01-18</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-text aui-ellipsis-2 index-info-text">-->
                <!--坪洲四季城店设备1正在维修通知-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="aui-list-item">-->
                <!--<div class="aui-media-list-item-inner">-->
                <!--<div class="aui-list-item-label-icon">-->
                <!--<div class="circle yellow-circle">-->
                <!--未-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-inner">-->
                <!--<div class="aui-list-item-text">-->
                <!--<div class="aui-list-item-title index-info-title">维修通知</div>-->
                <!--<div class="aui-list-item-right">2018-01-18</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-text aui-ellipsis-2 index-info-text">-->
                <!--坪洲四季城店设备1正在维修通知-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="aui-list-item">-->
                <!--<div class="aui-media-list-item-inner">-->
                <!--<div class="aui-list-item-label-icon">-->
                <!--<div class="circle yellow-circle">-->
                <!--未-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-inner">-->
                <!--<div class="aui-list-item-text">-->
                <!--<div class="aui-list-item-title index-info-title">维修通知</div>-->
                <!--<div class="aui-list-item-right">2018-01-18</div>-->
                <!--</div>-->
                <!--<div class="aui-list-item-text aui-ellipsis-2 index-info-text">-->
                <!--坪洲四季城店设备1正在维修通知-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</section>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/api.js"></script>
<script type="text/javascript" src="js/mescroll.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="newsJson.js"></script>
<script type="text/javascript" src="owner.js"></script>

</body>
</html>