@charset "UTF-8";
.login-logo{
    width: 4rem;
    height: 4rem;
    background: #ff2600;
    border-radius: .25rem;
    margin: 5rem auto 3rem;
}
.login-aui-list{
    background: transparent;
}
.aui-list .login-input-btn{
    margin-bottom: 10px;
    background: #fff;
    border-radius: .25rem;
    min-height: 2.5rem;
}
.login-find-pwd{
    color: #212121;
}
.login-btn-div{
    margin-top: 4rem;
}
.login-contact{
    margin-top: 2rem;
    font-size: 0.8rem;
    text-align: center;
}
.aui-toast {
    width: 10em;
    margin-left: -5em;
}
.aui-toast .aui-iconfont {
    font-size: 1.5rem;
}
.sendCode{
    background: #ff2600;
    color: #fff;
    text-align: center;
    width: 100%;
    border-radius: .25rem;
    min-height: 2.5rem;
    border: none;
    outline: none;
    font-size: .7rem;
}
.findPwd-input-div input{
    margin-bottom: 10px;
    background: #fff;
    border-radius: .25rem;
    min-height: 2.5rem;
    padding-left: .75rem;
}
.btn-grey{
    background: #ddd;
    color: #212121;
}