@charset "UTF-8";

.box-list,.box-page-list{
    border-top: none;
    background: none;
}
.aui-list .box-item{
    padding: 0 .75rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    border-radius: .5rem;
    margin-bottom: .8rem;
    border-bottom: none;
    background: none;
}
.aui-list .box-div{
    padding-right: 0;
}
.box-flex{
    display: block;
    color: #212121;
}
.box-state{
    color: #818181;
    font-size: .6rem;
}
.box-list-item-header{
    padding: .5rem 0.75rem;
    background: #fff;
}
.aui-list .box-status{
    font-size: .7rem;
    color: #ff6642;
}
.box-div .iconfont{
    font-size: .9rem;
    padding-right: .5rem;
}
.box-list-item{
    padding-left: 0.75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.box-list-store{
    font-size: .9rem;
}
.aui-list .aui-list-item i.box-store-icon{
    font-size: 1rem;
    color: #6170e4;
    padding-right: .3rem;
}
/*包厢详情*/
.box-page-circle{
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
    border: 0.1rem solid #6170e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-page-text{
    color: #6170e4;
    font-size: .65rem;
}
.box-page-value{
    color: #ff6642;
    font-size: .75rem;
}
.box-page-div .iconfont{
    font-size: .9rem;
    padding-right: .5rem;
}
.aui-list .box-page-div i.box-store-icon{
    font-size: .85rem;
    color: #6170e4;
    padding-right: .2rem;
}
.box-list-equip{
    font-size: .7rem;
}