<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>套餐收费</title>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_546112_aelpphhcwr1qncdi.css" />
    <link rel="stylesheet" type="text/css" href="../css/common.css" />
    <link rel="stylesheet" type="text/css" href="charge.css" />
</head>
<body class="white-body">
<section id="charge-app">
    <div class="backColor fixed-header-top">
        <div class="header-radius">
            <div class="prev-div" onclick="window.history.go(-1);">
                <i class="iconfont icon-zhixiangzuo"></i>
            </div>
            <div id="showStore" class="order-select"><span class="charge-store-name">全部门店</span><i class="iconfont icon-xiangxia"></i></div>
            <a class="home-back" href="../index.html"><i class="iconfont icon-shouye"></i></a>
        </div>
    </div>

    <!--门店筛选-->
    <div class="aui-popup aui-popup-top order-popup-top store-right" id="store-top">
        <div class="aui-popup-arrow"></div>
        <div class="aui-popup-content">
            <ul class="aui-list">
                <li class="aui-list-item" v-for="item in stores" v-on:click="showStore">
                    <div class="aui-list-item-inner bill-store-name" v-bind:aui="item.id">
                        {{item.storeName}}
                    </div>
                </li>
                <!--<li class="aui-list-item">-->
                <!--<div class="aui-list-item-inner bill-store-name" data-store="1">-->
                <!--宝安中心天虹-->
                <!--</div>-->
                <!--</li>-->
                <!--<li class="aui-list-item">-->
                <!--<div class="aui-list-item-inner bill-store-name" data-store="2">-->
                <!--宝安大润发-->
                <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <section class="content-section">
        <div class="aui-content-padded">
            <div class="aui-grid">
                <ul class="aui-row-padded chargeSet-list" id="chargeContent">
                    <li class="aui-col-xs-6" v-for="chargeItem in charges">
                        <div class="chargeSet-block">
                            <div class="equip-num">设备号：<span>{{chargeItem.chargeEquipNum}}</span></div>
                            <div class="equip-num">套餐类型：<span>{{chargeItem.chargeType}}</span></div>
                            <div class="equip-num">价格（元）：<span>{{chargeItem.chargeMoney}}</span></div>
                        </div>
                    </li>
                    <!--<li class="aui-col-xs-6">-->
                    <!--<div class="chargeSet-block">-->
                    <!--<div class="equip-num">设备号：<span>123456789</span></div>-->
                    <!--<div class="equip-num">套餐类型：<span>单首</span></div>-->
                    <!--<div class="equip-num">价格（元）：<span>50</span></div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li class="aui-col-xs-6">-->
                    <!--<div class="chargeSet-block">-->
                    <!--<div class="equip-num">设备号：<span>123456789</span></div>-->
                    <!--<div class="equip-num">套餐类型：<span>单首</span></div>-->
                    <!--<div class="equip-num">价格（元）：<span>50</span></div>-->
                    <!--</div>-->
                    <!--</li>-->
                    <!--<li class="aui-col-xs-6">-->
                    <!--<div class="chargeSet-block">-->
                    <!--<div class="equip-num">设备号：<span>123456789</span></div>-->
                    <!--<div class="equip-num">套餐类型：<span>单首</span></div>-->
                    <!--<div class="equip-num">价格（元）：<span>50</span></div>-->
                    <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </section>
</section>

<script type="text/javascript" src="../js/jquery-3.2.1.min.js" ></script>
<script type="text/javascript" src="../js/api.js" ></script>
<script type="text/javascript" src="../js/vue.min.js" ></script>
<script type="text/javascript" src="chargeSet.js" ></script>

</body>
</html>