@charset "UTF-8";
.no-radius{
    border-radius: 0;
}
.account-bg{
    width: 100%;
}
.account-header{
    position: relative;
}
.account_img{
    display: inline-block;
    width: 4rem;
    border-radius: 100%;
    box-shadow: 0px .25rem .5rem 0px rgba(0,0,0,0.3)
}
.account-info{
    position: absolute;
    top: 1.3rem;
    left: 0;
    width: 100%;
    text-align: center;
}
.user-name{
    font-size: 1rem;
    margin-top: .5rem;
    color: #faf9fc;
}
.account_add{
    font-size: .75rem;
}
.account_list_a{
    color: #212121;
}
.account-icon{
    font-size: 1rem;
    color: #6170e4;
}
/*意见反馈*/
.advice-form{
    background: #fff;
    min-height: 100vh;
    padding: .75rem;
}
.advice-t{
    font-size: .85rem;
}
.advice-textarea{
    height: 8rem;
    border: 1px solid #ccc;
    padding: .5rem;
    border-radius: 5px;
    margin: .5rem 0 .75rem 0;
    font-size: .75rem;
}
.advice-input{
    width: 100%;
    padding: .5rem .75rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
}
.advice-choose-t{
    font-size: .76rem;
    color: #212121;
    margin: .5rem 0;
}
.advice-radio{
    font-size: .75rem;
    margin: .5rem 0;
}
.advice-btn-block{
    margin-top: .75rem;
}
.advice-btn-block .send-btn{
    background: #ff6642;
    color: #fff;
    border-radius: 1.25rem;
}
.advice-btn-block .send-btn:hover,.advice-btn-block .send-btn:focus{
    background: #fb5a3e;
    color: #fff;
}
.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
    background-color: #6170e4;
    border: 1px solid #6170e4;
}
/*缺歌反馈*/
.lackSong_list{
    margin-bottom: 5rem;
}
.lackSong_list .aui-list-item {
    padding: 0;
    font-size: .7rem;
}
.advice-text{
    font-size: .68rem;
    margin-top: .5rem;
    text-align: center;
    padding-bottom: .5rem;
}
/*版权申诉*/
.copyright-content{
    padding: .75rem;
}
.copyright-text{
    font-size: .75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.copyright-list{
    margin-bottom: 5rem;
}
.copyright-btn-block{
    padding: 0 .75rem;
}
/*我的订单*/
.order-list{
    background: transparent;
    border-top: none;
}
.order-list-item{
    padding-left: .75rem;
    padding-right: .75rem;
    background: #fff;
}
.order-list .order-list-text{
    color: #818181;
    font-size: .6rem;
}
.aui-list .order-buy-time{
    font-size: .7rem;
    color: #757575;
}
.aui-list .order-list-header{
    background-color: #fff;
    color: #212121;
    font-size: 0.7rem;
    padding: 0.4rem 0;
    border-bottom: 1px solid #f2f2f2;
}
.order-list .order-list-item-media{
    width: 4rem;
}
.aui-list .item-inner-noPadding{
    padding-right: 0;
}
.order-list .order-list-money{
    font-size: .8rem;
    color: #ff6642;
}
/*我的录音*/
.total-records{
    position: absolute;
    top:0.5rem;
    right: 0;
    color: #818181;
    padding-right: .75rem;
    font-size: .8rem;
}
.myRecord-list{
    border: none;
}
.myRecord-list li{
    background: #fff;
}
.myRecord-list .aui-media-list-item-inner{
    padding: .5rem 0;
}
.myRecord-list-header{
    padding: 0 .75rem;
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom: 1px solid #f2f2f2;
    color: #757575;
    font-size: .75rem;
    background: #fff;
}
.myRecord-list-img{
    width: 4rem;
    padding-right: .5rem;
}
.myRecord-text-icons{
    display: inline-block;
    font-size: .6rem;
}
.myRecord-text-icons .iconfont{
    font-size: .6rem!important;
    color: #ff2600;
    padding-right: .3rem;
}
.myRecord-listen-icons .per-num{
    font-size: .6rem;
    color: #818181;
}
.myRecord-listen-icons{
    padding-right: .5rem;
}
.myRecord-list .per-myRecord-time{
    font-size: .6rem;
}
.myRecord-share .iconfont{
    color: #ff2600;
    font-size: 1rem;
}
.aui-dialog-body input {
    border: none;
    font-size: 1rem;
    color: #212121;
    text-align: center;
}
.layout{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    z-index:10;
    display: none;
}
.lay-list{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background: #fff;
    z-index:10;
}
.lay-list li{
    padding: .8rem 0;
    border-bottom: 1px solid #f2f2f2;
    font-size: .8rem;
    color: #2e2e2e;
    text-align: center;
}
.lay-list li:last-child{
    border: none;
}
.aui-dialog-btn{
    color: #2e2e2e;
    font-size: .8rem;
}
.aui-dialog-body {
    font-size: .8rem;
    color: #2e2e2e;
}
