<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>歌手点歌内页</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/mescroll.min.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_546112_7lqmbrmbbf14te29.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../choose.css"/>
</head>
<body class="white-body">
    <section id="singer-page-app">
        <!--滑动区域-->
        <div id="mescroll" class="mescroll singerPage_mescroll">
            <div id="navWarp">
                <div class="aui-title singerPage-search-title" id="navContent">
                    <div class="prev-div-page" onclick="window.history.go(-1);">
                        <i class="iconfont icon-zhixiangzuo"></i>
                    </div>
                    <a class="songNum-div" href="../haveSongs/haveSongs.html">
                        <div class="songNum-div-text" id="haveSongNum"></div>
                    </a>
                </div>
            </div>
            <!--歌手封面图-->
            <section class="singerPage_header">
                <img class="singerImg" :src="singerImg">
                <div class="singerPage_name">
                    {{singerName}}
                </div>
            </section>
            <!--
                悬浮菜单:
                1.ios的悬停效果,通过给navWarp添加sticky样式来实现
                2.android和pc端悬停效果,通过监听mescroll的scroll事件,控制navContent是否为fixed定位来实现
            -->

            <!--upscrollWarp用于装载上拉进度和数据列表,避免清空列表不满屏,导致点击悬浮菜单时会滑下来-->
            <div id="upscrollWarp">
                <!--展示上拉加载的数据列表-->
                <ul class="aui-list aui-media-list song-list" id="dataList" v-cloak>
                    <li class="aui-list-item aui-list-item-middle" v-for="item in songlist" v-on:click="choose(item,item.mmvId)">
                        <div class="aui-media-list-item-inner">
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title list-song-info">
                                        <div class="songName">
                                            <span class="songName-span">{{item.songName}}</span>
                                            <i class="iconfont type-song-icon" v-bind:class="{'icon-ping':item.midiId}"></i>
                                            <i class="iconfont type-song-icon" v-bind:class="{'icon-le':item.midiId}"></i>
                                            <i class="iconfont type-song-icon" v-bind:class="{'icon-yunxiazai':item.hasResource}"></i>
                                        </div>
                                        <div class="perSingerName">{{item.singerName}}</div>
                                    </div>
                                    <div class="aui-list-item-right">
                                        <i class="iconfont icon-maikefeng-dianji red-icon select-song-icon" v-if="item.sfdg"></i>
                                        <i class="iconfont icon-maikefeng select-song-icon" v-else></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="aui-bar aui-bar-tab choose-footer" id="footer">
            <a class="aui-bar-tab-item" href="../choose.html">
                <i class="iconfont icon-home"></i>
                <div class="aui-bar-tab-label">首页</div>
            </a>
            <a class="aui-bar-tab-item" v-on:click="controls">
                <i class="iconfont icon-yaokong"></i>
                <div class="aui-bar-tab-label">遥控</div>
            </a>
        </footer>
    </section>
<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    define = null;
    require = null;
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="../../js/mescroll.min.js"></script>
<script type="text/javascript" src="../../js/api.js"></script>
<script type="text/javascript" src="../../js/aui-dialog.js"></script>
<script type="text/javascript" src="../../wx/wx_share.js"></script>
<script type="text/javascript" src="../../js/vue.min.js"></script>
<script type="text/javascript" src="../../js/common-song.js"></script>
<script type="text/javascript" src="singerPage.js"></script>

</body>
</html>