<!DOCTYPE HTML>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>搜索</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/mescroll.min.css"/>
    <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_546112_7lqmbrmbbf14te29.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../choose.css"/>
</head>
<body class="white-body">
<div id="search-app">
    <div class="aui-title page-search-title">
        <div class="prev-div-page" onclick="window.history.go(-1);">
            <i class="iconfont icon-zhixiangzuo"></i>
        </div>
        <div class="aui-searchbar" id="search">
            <div class="aui-searchbar-input aui-border-radius search-div">
                <i class="iconfont icon-sousuo"></i>
                <input type="search" placeholder="搜索歌星/歌名" id="search-input">
            </div>
            <a class="songNum-div" href="../haveSongs/haveSongs.html">
                <div class="songNum-div-text" id="haveSongNum"></div>
            </a>
        </div>
    </div>
    <div class="aui-tab" id="tab">
        <div class="aui-tab-item aui-active" uid="0">歌曲</div>
        <div class="aui-tab-item" uid="1">歌手</div>
    </div>
    <div class="mescroll searchMescroll" id="searchScroll">
        <ul class="aui-list aui-media-list" id="search-result" v-cloak>
            <li class="aui-list-item aui-list-item-middle" v-for="item in songlist" v-on:click="choose(item.mmvId,$event)" v-show="type==0">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title list-song-info">
                                <div class="songName">
                                    <span>{{item.songName}}</span>
                                    <i class="iconfont type-song-icon" v-bind:class="{'icon-ping':item.midiId}"></i>
                                    <i class="iconfont  type-song-icon" v-bind:class="{'icon-le':item.midiId}"></i>
                                    <i class="iconfont type-song-icon" v-bind:class="{'icon-yunxiazai':item.hasResource}"></i>
                                </div>
                                <div class="perSingerName">{{item.singerName}}</div>
                            </div>
                            <div class="aui-list-item-right">
                                <i class="iconfont icon-maikefeng select-song-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-list-item-middle" v-for="item in songlist" v-on:click="getSingerSongInfo(item.singerId)" v-show="type==1">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-title singerName">{{item.singerName}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../js/mescroll.min.js"></script>
<script type="text/javascript" src="../../js/api.js"></script>
<script type="text/javascript" src="../../js/vue.min.js"></script>
<script type="text/javascript" src="../../js/common-song.js"></script>
<script type="text/javascript" src="search.js"></script>

</body>
</html>