@charset "utf-8";
.black-body{
    background: #373b3e;
}
.singing-content{
    background: #373b3e;
    /*height: 100vh;*/
}
.prev-page{
    position: absolute;
    top: 0;
    left: .75rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: left;
}
.prev-page .iconfont{
    font-size: 1rem;
    color: #fff;
}
.singing-text{
    text-align: center;
    color: #999;
    position: relative;
    width: 11rem;
    margin: 3.85rem auto 1.25rem;
}
.newContent .singing-text{
    margin: 2.6rem auto 1.25rem;
}
.play-img{
    width: 1.3rem;
    position: absolute;
    top: 0;
    left: 0.5rem;
    z-index: 2;
}
.newContent .play-img{
    left: 0.7rem;
}
.singing-img{
    width: 11rem;
    margin: 0 auto 0;
    padding-top: .8rem;
    text-align: center;
    position: relative;
}
.newContent .singing-img{
    width: 10rem;
}
.play-img-bg{
    display: inline-block;
    border-radius: 100%;
    width: 100%;
}
.cdImg{
    position: absolute;
    top: 1.3rem;
    left: .5rem;
    display: inline-block;
    border-radius: 100%;
    width: 10rem;
}
.newContent .cdImg{
    width: 9rem;
}
.myRecord-page{
    text-align: center;
}
.songName{
    font-size: 0.85rem;
    color: #faf9fc;
}
.singingName{
    padding: .5rem 0 1.8rem 0;
}
.newContent .singingName{
    padding: .5rem 0 1rem 0;
}
.wechatName{
    font-size: .8rem;
    color: #818181;
}
.myRecord-title-icons{
    display: inline-block;
    padding: 0 .75rem;
    color: #818181;
    font-size: .8rem;
}
.myRecord-title-score{
    color: #e8413d;
}
.recordScore{
    padding-left: .2rem;
}
.myRecord-title-icons i{
    padding-right: .3rem;
    color: #e8413d;
}
/*播放器自定义*/
.audio-wrapper {
    position: absolute;
    left: 0;
    bottom: .3rem;
    margin: .5rem auto;
    padding: 0 .75rem;
    width: 100%;
}
.audio-control {
    text-align: center;
    margin-top: .75rem;
}
.audio-control .audio-control-img{
    display: inline-block;
    width: 2.5rem;
    cursor: pointer;
    display: initial;
}
.audio-bars {
    width: 100%;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
}
.progress-bar-bg {
    background-color: #818181;
    position: relative;
    top: -.1rem;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 73%;
    height: 2px;
    margin: 0 auto;
}
.progress-bar {
    background-color: #e8413d;
    width: 0;
    height: 2px;
}
.progress-bar-bg span {
    content: " ";
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.25rem;
    margin-left: 0;
    cursor: pointer;
    box-shadow: 0px 0px .15rem 0px rgba(0,0,0,0.8);
}
.audio-length-total {
    float: right;
    font-size: .6rem;
    color: #818181;
}
.audio-length-current {
    float: left;
    font-size: .6rem;
    color: #818181;
}

/*加载中*/
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}
#center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -75px;
    width: 150px;
    height: 80px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.loader {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 70px;
}

.loader .dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;

    animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
}

.loader .dot:nth-child(1) {
    animation-delay: 0.2s;
}

.loader .dot:nth-child(2) {
    animation-delay: 0.35s;
}

.loader .dot:nth-child(3) {
    animation-delay: 0.45s;
}

.loader .dot:nth-child(4) {
    animation-delay: 0.55s;
}

.loader .dot:after, .loader .dot .first {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    left: 50%;
    margin-left: -4px;
}

.loader .dot .first {
    background: #fff;
    margin-top: -4px;
    animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
    animation-delay: 0.2s;
}

@keyframes dotrotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes dotscale {
    0%, 10% { width: 16px; height: 16px; margin-left: -8px;  margin-top: -4px; }
    50% { width: 8px; height: 8px; margin-left: -4px; margin-top: 0; }
    90%, 100% { width: 16px; height: 16px;  margin-left: -8px;  margin-top: -4px; }
}
